<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.bom.mapper.EffectObjectMapper">
    <resultMap id="BaseResultMap" type="hbi.core.bom.dto.EffectObject">
        <result column="OBJECT_ID" property="objectId" jdbcType="DECIMAL" />
        <result column="CHGINFO_ID" property="chginfoId" jdbcType="DECIMAL" />
        <result column="oid" property="oid" jdbcType="VARCHAR" />
        <result column="chgdescription" property="chgdescription" jdbcType="VARCHAR" />
        <result column="inworksol" property="inworksol" jdbcType="VARCHAR" />
        <result column="stocksol" property="stocksol" jdbcType="VARCHAR" />
        <result column="testsol" property="testsol" jdbcType="VARCHAR" />
        <result column="softwaresol" property="softwaresol" jdbcType="VARCHAR" />
        <result column="isdeletema" property="isdeletema" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />


        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="isauthen" property="isauthen" jdbcType="VARCHAR" />
        <result column="authenpart" property="authenpart" jdbcType="VARCHAR" />



    </resultMap>

    <select id="queryBasic" resultMap="BaseResultMap" parameterType="hbi.core.bom.dto.EffectObject">
        SELECT
        beo.object_id,
        beo.chginfo_id,
        beo.oid,
        bwp.number,
        bwp.`name`,
        bwp.type,
        bwp.version,
        bwp.state,
        beo.chgdescription,
        beo.inworksol,
        beo.stocksol,
        beo.testsol,
        beo.softwaresol,
        beo.isdeletema,
        bwp.isauthen,
        bwp.authenpart,
        beo.description,
        beo.OBJECT_VERSION_NUMBER
        FROM
            BOM_EFFECT_OBJECT beo
        LEFT JOIN BOM_WNC_PART bwp ON beo.oid = bwp.oid
        <where>
            <if test="chginfoId!=null">
                AND chginfo_id = #{chginfoId}
            </if>
        </where>
    </select>
</mapper>