<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.bom.mapper.ReviseMapper">
    <resultMap id="BaseResultMap" type="hbi.core.bom.dto.Revise">
        <result column="REVISE_ID" property="reviseId" jdbcType="DECIMAL" />
        <result column="CHGINFO_ID" property="chginfoId" jdbcType="DECIMAL" />
        <result column="oid" property="oid" jdbcType="VARCHAR" />
        <result column="soid" property="soid" jdbcType="VARCHAR" />
        <result column="result" property="result" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />

        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="modifyer" property="modifyer" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryBasic" resultMap="BaseResultMap" parameterType="hbi.core.bom.dto.Revise">
        SELECT
        br.REVISE_ID,
        br.CHGINFO_ID,
        br.oid,
        br.soid,
        br.result,
        br.description,
        br.OBJECT_VERSION_NUMBER,
        bwp.number,
        bwp.name,
        bwp.type,
        bwp.version,
        bwp.state,
        bwp.modifyer
        FROM
        bom_revise AS br
        LEFT JOIN bom_wnc_part bwp ON bwp.oid = br.oid
        <where>
            <if test="chginfoId!=null">
                AND CHGINFO_ID = #{chginfoId}
            </if>
        </where>
    </select>
</mapper>