<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.bom.mapper.ReviseMapper">
    <resultMap id="BaseResultMap" type="hbi.core.bom.dto.Revise">
        <result column="REVISE_ID" property="reviseId" jdbcType="DECIMAL" />
        <result column="CHGINFO_ID" property="chginfoId" jdbcType="DECIMAL" />
        <result column="oid" property="oid" jdbcType="VARCHAR" />
        <result column="soid" property="soid" jdbcType="VARCHAR" />
        <result column="result" property="result" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>