<#include "../include/header.html">
<style>
    .bg-bar{
        position: relative;
        background: #f9f9f9;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ccc;
    }
    .bar-left{
        padding-left: 10px;
    }
    .panel{
        margin-bottom: 0;
    }
    .panel>.row{
        margin: 10px auto;
    }
    .bar-btn{
        position: absolute;
        text-align: center;
        right: 10px;
        top:5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .bar-btn>span{
        font-size:22px;
    }
    .col-xs-offset-1 .form-group{
        margin: 5px 0;
    }
</style>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        //新加子分类
        createFunction: function () {
            var length = $("#Grid input[type=checkbox]:checked").length;
            if(length!=1){
                kendo.ui.showInfoDialog({
                    message:"请选择一行"
                });
            }else {
                var uid = $("#Grid input[type=checkbox]:checked").parents("tr").attr("data-uid");
                var treeList = $("#Grid").data("kendoTreeList");
                var rowNew=treeList.addRow($('[data-uid='+uid+']'));
            }
        },
        //保存
        saveFunction: function () {
            $('#Grid').data('kendoTreeList').saveRow();
        },
        //展开
        expandFunction:function(e) {
           e.preventDefault();
            var treeList = $("#Grid").data("kendoTreeList");
            for (var i = 0;i<$("#Grid input[type=checkbox]:checked").length;i++){
                var uid = $("#Grid input[type=checkbox]:checked").eq(i).parents("tr").attr("data-uid");
                var row = treeList.content.find("tr[data-uid=" + uid+ "]");
                treeList.expand(row)
            }
        },
        //收缩
        compressFunction:function (e) {
            e.preventDefault();
            var treeList = $("#Grid").data("kendoTreeList");
            for (var i = 0;i<$("#Grid input[type=checkbox]:checked").length;i++){
                var uid = $("#Grid input[type=checkbox]:checked").eq(i).parents("tr").attr("data-uid");
                var row = treeList.content.find("tr[data-uid=" + uid+ "]");
                treeList.collapse(row);
            }
        },
        //展开全部
        expandAllFunction:function (e) {
            e.preventDefault();
            var treeList = $("#Grid").data("kendoTreeList"),
                row = treeList.content.find("tr:visible").last();
            treeList.expand(row)
        },
        //收缩全部
        compressAllFunction:function (e) {
            e.preventDefault();
            var treeList = $("#Grid").data("kendoTreeList"),
                row = treeList.content.find("tr:visible").first();
            treeList.collapse(row)
        }
    });
</script>
<body>
<form id="base_info_form" class="modal-content form-horizontal" role="form">
    <div class="bg-bar">
        <span class="bar-left">基本信息</span>
        <div class="bar-btn">
            <span class="fa fa-angle-double-up"></span>
        </div>
    </div>
    <div class="col-xs-offset-1">
        <div class="form-group">
            <div class="col-xs-5" style="text-align: center">
                <span id="title"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">名称</label>
            <div class="col-xs-3">
                <input id="name" type="text"  style='border-left:0px;border-top:0px;border-right:0px;' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">状态</label>
            <div class="col-xs-3">
                <input id="status" type="text"  style='border-left:0px;border-top:0px;border-right:0px; ' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">状况</label>
            <div class="col-xs-3">
                <input id="state" type="text"  style='border-left:0px;border-top:0px;border-right:0px; ' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">修改者</label>
            <div class="col-xs-3">
                <input id="modifyer" type="text"  style='border-left:0px;border-top:0px;border-right:0px; ' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">位置</label>
            <div class="col-xs-3">
                <input id="location" type="text"  style='border-left:0px;border-top:0px;border-right:0px; ' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">成品</label>
            <div class="col-xs-3">
                <input id="is" type="text"  style='border-left:0px;border-top:0px;border-right:0px;' readonly="true"  value="是">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">默认跟踪代码</label>
            <div class="col-xs-3">
                <input id="value1" type="text"  style='border-left:0px;border-top:0px;border-right:0px;' readonly="true" value="序列号">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">产品生命周期状态</label>
            <div class="col-xs-3">
                <input id="value2" type="text"  style='border-left:0px;border-top:0px;border-right:0px; ' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">是否认证产品</label>
            <div class="col-xs-3">
                <input id="value3" type="text"  style='border-left:0px;border-top:0px;border-right:0px;' readonly="true" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label"></label>
            <div class="col-xs-3">
                <a href="javascript:;" onclick="showTree()">更多信息</a>
            </div>
        </div>
    </div>
</form>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction">
            <i class="fa fa-plus-square" style="margin-right:3px;"></i>新建子分类</span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:saveFunction" style="float:left;margin-right:5px;">
            <i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
        <span class="btn btn-primary" data-bind="click:expandFunction" style="float:left;margin-right:5px;">
            <i class="fa fa-expand" style="margin-right:3px;"></i>展开</span>
        <span class="btn btn-warning" data-bind="click:compressFunction" style="float:left;margin-right:5px;">
            <i class="fa fa-compress" style="margin-right:3px;"></i>收缩</span>

        <span class="btn btn-primary" data-bind="click:expandAllFunction" style="float:left;margin-right:5px;">
            <i class="fa fa-expand" style="margin-right:3px;"></i>展开全部</span>
        <span class="btn btn-warning" data-bind="click:compressAllFunction" style="float:left;margin-right:5px;">
            <i class="fa fa-compress" style="margin-right:3px;"></i>收缩全部</span>
    </div>
    <div  style="clear:both">
        <div id="Grid" style="margin-bottom: 30px;"></div>
    </div>
    <div id="dialog"></div>
</div>

<script type="text/javascript">
    var checkedIds = {};

    //on click of the checkbox:
    function selectRow() {
        var checked = this.checked;
        row = $(this).closest("tr");
        grid = $("#Grid").data("kendoTreeList");
        dataItem = grid.dataItem(row);
        checkedIds[dataItem] = checked;
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }

    }
    //on dataBound event restore previous selected rows:
    function onDataBound(e) {
        var view = this.dataSource.view();
        for (var i = 0; i < view.length; i++) {
            if (checkedIds[view[i].id]) {
                this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                    .addClass("k-state-selected").find(".checkbox")
                    .attr("checked", "checked");
            }
        }
    }


    var ida2a2='${RequestParameters.ida2a2}';
    var name='${RequestParameters.name}';
    var state='${RequestParameters.state}';
    var status='${RequestParameters.status}';
    var modifyer='${RequestParameters.modifyer}';
    var number='${RequestParameters.number}';
    var version='${RequestParameters.version}';
    var modtime='${RequestParameters.modtime}';
    $("#name").val(name);
    $("#state").val(state);
    $("#status").val(status);
    $("#modifyer").val(modifyer +"于"+ modtime+" 修改");
    document.getElementById("title").innerText="产品-"+ida2a2+","+version+","+number;
    kendo.bind($('#page-content'), viewModel);
    var BaseUrl = _basePath;
    var selectedDataItems = [];


    //add by zixi.xie@hand-china.com
    $(function () {
        //获取数据源
        var dataSource = new kendo.data.TreeListDataSource({
            transport: {
                read: {
                    url: BaseUrl + "/bom/bom/query",
                    type: "POST",
                    dataType: "json"
                },
                update: {
                    url: BaseUrl + "/bom/bom/submit",
                    type: "POST",
                    contentType: "application/json"
                },
                destroy: {
                    url: BaseUrl + "/bom/bom/remove",
                    type: "POST",
                    contentType: "application/json"
                },
                create: {
                    url: BaseUrl + "/bom/bom/submit",
                    type: "POST",
                    contentType: "application/json"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type)
                        return kendo.stringify(datas);
                    }
                }
            },
            batch: true,
            schema: {
                data: 'rows',
                model: {
                    id: "id",
                    parentId: "parentid",
                    expanded: true,
                    fields: {
                        bomId: { type: "number", editable: false, nullable: false },
                        parentid: { nullable: true, type: "number" },
                        childnum: { validation: { required: true } },
                    },
                }
            }
        });

        //初始化tree
        var tree = $("#Grid").kendoTreeList({
            dataSource: dataSource,
            columnMenu: true,
            reorderable:true,
            resizable: true,
            scrollable: true,
            navigatable: false,
            editable:true,
            selectable:'row',
            height:"300px",
            change: function(e) {
                var selectedRows = this.select();
                for (var i = 0; i < selectedRows.length; i++) {
                    var dataItem = this.dataItem(selectedRows[i]);
                    selectedDataItems.push(dataItem);
                }
            },
            pageable: {
                pageSizes: [5, 10, 20, 50],
                refresh: true,
                buttonCount: 5
             },
            columns: [
                {
                    title: "操作",
                    template: function(dataItem){
                        if(dataItem.childnum==null||dataItem.childnum==""){
                            return "";
                        }else {
                            return "<input type='checkbox' name='check'   />";
                        }
                    },
                    width: 60,
                    attributes: {
                        "class": "table-header-cell",
                        style: "text-align: center;"
                    }
                },
                {
                    field: "childnum",
                    title: '编码',
                    width: 120,
                    expandable: true
                },
                {
                    title: '层级',
                    width: 85 ,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        style  : "text-align: center"
                    },
                    template: function(dataItem){
                        var level = dataSource.level(dataItem);
                        if (level==0){
                            return 'ROOT';
                        }else {
                            return 'LEVEL '+level;
                        }
                    }
                },
               /* {
                    title: '操作',
                    width: 100 ,
                    attributes: {style: "text-align:center"},
                    template: function (dataItem) {
                        return '<span class="btn btn-primary btn-xs" onclick="addChildren(\''+dataItem.uid+'\','+dataSource.level(dataItem)+','+dataItem.bomId+')">增加子分类</>'
                    },
                    headerAttributes: {
                        style  : "text-align: center"
                    }
                },*/
                {
                    title: '不推荐',
                    width: 120
                },
                {
                    title: '不推荐',
                    width: 120
                },
                {
                    title: '物料综合等级',
                    width: 120
                },
                {
                    field: "childname",
                    title: '名称',
                    width: 120
                },
                {
                    field: "specification",
                    title: '型号规格',
                    width: 120
                },
                {
                    field: "version",
                    title: '版本',
                    width: 120
                },
                {
                    field: "linenum",
                    title: '行号',
                    width: 120
                },
                {
                    field: "occurrence",
                    title: '位号',
                    width: 120
                },
                {
                    field: "amount",
                    title: '数量',
                    width: 120
                },
                {
                    field: "unit",
                    title: '默认单位',
                    width: 120
                },
                {
                    field: "linkweight",
                    title: '重量',
                    width: 120
                },
                {
                    field: "source",
                    title: '关系来源',
                    width: 120
                },
                {
                    field: "isborrow",
                    title: '是否借用',
                    width: 120
                },
                {
                    field: "drawingsize",
                    title: '图幅',
                    width: 120
                },
                {
                    field: "cadtype",
                    title: '图纸类型',
                    width: 120
                },
                {
                    field: "drawingtype",
                    title: '图样类型',
                    width: 120
                },
                {
                    title: "Edit", command: ["edit", "destroy"], width: 250,
                    attributes: {
                        style: "text-align: center;"
                    }
                },
            ],
            messages: {
                commands: {
                    edit: "编辑",
                    update: "保存",
                    canceledit: "取消",
                    destroy:"删除"
                }
            }
        }).data("kendoTreeList");

        //产生对象收缩展开
        $("#base_info_form").on("click",".bar-btn",function (e) {
            e.preventDefault();
            var classStr = $(this).find("span").attr("class")=='fa fa-angle-double-up'?'fa fa-angle-double-down':'fa fa-angle-double-up';
            $(this).find("span").removeClass().addClass(classStr);
            $("#base_info_form").find(".col-xs-offset-1").toggle(0);
        });
    });












    /*grid = $("#Grid").data("kendoTreeList");
    grid.table.on("click", ".checkbox", selectRow);*/
    function changeParent(id)
    {
        var dialog = $("#dialog").kendoWindow({
            actions: ["Close"],
//            animation: {
//                close: {
//                    effects: "fadeOut zoom:out",
//                    duration: 300
//                },
//                open: {
//                    effects: "fadeIn zoom:in",
//                    duration: 300
//                }
//            },
            width: 400,
            height: 450,
            title: '选择父节点',
            visible: false,
            iframe: true,
            modal: true,
            close:function()
            {
                $('#Grid').data('kendoTreeList').dataSource.page(1);
            },
            content: 'employees_parent.html?id=' + id
        }).data("kendoWindow");
        dialog.center().open();
    }
    function deleteData() {

      //  Hap.deleteGridSelection({
        //    grid: $('#Grid')
       // });

    }

    Hap.autoResizeGrid("#Grid");


</script>
</body>
</html>