<#--
* description: 新建(详情)变更任务页面
* version: 2.0
* author:zixi.xie@hand-china.com
-->
<#include "../../include/header.html">
<style>
    #tool-btn span.btn{
        margin: 5px;
    }
    .bg-bar{
        position: relative;
        background: #f9f9f9;
        height: 30px;
        line-height: 30px;
    }
    .bar-left{
        padding-left: 10px;
    }
    .panel{
        margin-bottom: 0;
    }
    .panel>.row{
        margin: 10px auto;
    }
    label.col-sm-3.control-label {
        text-align: right;
        padding-top: 7px;
    }
    .bar-btn{
        position: absolute;
        text-align: center;
        right: 10px;
        top:5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .bar-btn>span{
        font-size:22px;
    }
    .k-grid td {
        line-height: 1.5 !important;
    }
</style>
    <script src="${base.contextPath}/lib/jszip.min.js"></script>
<script>
    //获取查询页面传递过来的chginfoId
    //0->新建状态 !0更新状态
    var chginfoId = '${RequestParameters.chginfoId!0}';
    var copyObj = {};
    if (chginfoId!=0){
        //更新
        //获取主数据
        $.ajax({
            url:"${base.contextPath}/bom/chginfo/query?chginfoId="+chginfoId,
            dataType:"json",
            contentType:"application/json",
            success:function (data) {
                var basicData = data.rows[0] || {};
                for (var k in basicData) {
                    chginfo_viewModel.model.set(k, basicData[k]);
                }
            }
        });

    }else {
        //新建
        //alert("新建状态");
    }

    //基本信息viewModel
    var chginfo_viewModel = kendo.observable({
        model: {
        },
        //保存方法
        saveFunction1:function (e) {
            console.log(123);
            e.preventDefault();
            if(chginfoId!=0){
                //更新
                chginfo_viewModel.model.set("__status","update");
                Hap.submitForm({
                    url: '${base.contextPath}/bom/chginfo/submit',
                    formModel: chginfo_viewModel.model,
                    success: function (json){
                        if(json.success){
                            kendo.ui.showInfoDialog({
                                message: "成功"
                            });
                        }else{
                            kendo.ui.showErrorDialog({
                                message: "失败"
                            });
                        }
                    }
                });
            }else {
                //更新
                chginfo_viewModel.model.set("__status","add");
                Hap.submitForm({
                    url: '${base.contextPath}/bom/chginfo/submit',
                    formModel: chginfo_viewModel.model,
                    success: function (json){
                        if(json.success){
                            kendo.ui.showInfoDialog({
                                message: "成功"
                            });
                        }else{
                            kendo.ui.showErrorDialog({
                                message: "失败"
                            });
                        }
                    }
                });
            }
        },
        //复制通用意见到受影响对象中方法
        copyFunction:function (e) {
            e.preventDefault();
            var grid = $("#effectObject-Grid").data("kendoGrid");
            var checked = grid.selectedDataItems();
            if(checked.length==0){
                kendo.ui.showInfoDialog({
                    message: "请至少选择一行"
                })
            }else {
                for (var i = 0;i<checked.length;i++){
                    checked[i].inworksol=chginfo_viewModel.model.inworksol;
                    checked[i].stocksol=chginfo_viewModel.model.stocksol;
                    checked[i].testsol=chginfo_viewModel.model.testsol;
                    checked[i].softwaresol=chginfo_viewModel.model.softwaresol;
                    //设置为脏数据自动更新
                    checked[i].dirty=true;
                }
                grid.refresh();
            }
        }
    });

    //添加受影响的对象veiwModel
    var effectObject_viewModel = kendo.observable({
        model: {
        },
        //保存方法
        saveFunction2: function () {
            $('#effectObject-Grid').data('kendoGrid').saveChanges();
        },
        //删除方法
        deleteFunction:function (e) {
            var grid = $("#effectObject-Grid").data("kendoGrid");
            var checked = grid.selectedDataItems();
            if(checked.length==0){
                kendo.ui.showInfoDialog({
                    message: "请至少选择一行"
                })
            }else {
                Hap.deleteGridSelection({
                    grid: $('#effectObject-Grid')
                });
            }
        }
    });


    //用户viewModel(供搜索查询用户使用)
    var user_viewModel = kendo.observable({
        model: {
        },
        //搜索方法
        queryResource: function (e) {
            $("#user-grid").data("kendoGrid").dataSource.page(1);
        }
    });

    //对象viewModel(供搜索查询对象使用)
    var object_viewModel = kendo.observable({
        model: {
        },
        //搜索方法
        queryResource: function (e) {
            $("#object-grid").data("kendoGrid").dataSource.page(1);
        }
    });

    //认证关键件信息viewModel
    var authenpart_viewModel = kendo.observable({
        model: {
        }
    });
</script>
<body>
<!--收缩展开-->
<div id="tool-btn">
    <div class="bg-bar">
        <span class="bar-left">变更任务</span>
    </div>
    <div class="panel">
        <span class="btn btn-primary">全部收缩</span>
        <span class="btn btn-danger">全部展开</span>
    </div>
</div>
<!--基本信息-->
<div id="basic-info">
    <div class="bg-bar">
        <span class="bar-left">基本信息</span>
        <div class="bar-btn">
            <span class="fa fa-angle-double-up"></span>
        </div>
    </div>
    <div class="panel">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="info-name" class="col-sm-3 control-label">变更任务名称：</label>
                    <div class="col-sm-9">
                        <input id="info-name" data-bind="value:model.name" type="text" class="k-textbox" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="info-processor" class="col-sm-3 control-label">工作负责人：</label>
                    <div class="col-sm-9">
                        <input type="text" data-bind="value:model.processor" id="info-processor"
                               style="width:76%;float: left;" class="k-textbox">
                        <span class="btn btn-default" id="info-processor-button"
                              style="width:24%;float: left;">搜索用户</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inworksol" class="col-sm-3 control-label">在制品处理意见：</label>
                    <div class="col-sm-9">
                        <input id="inworksol" data-bind="value:model.inworksol" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="stocksol" class="col-sm-3 control-label">库存处理意见：</label>
                    <div class="col-sm-9">
                        <input id="stocksol" data-bind="value:model.stocksol" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="testsol" class="col-sm-3 control-label">试验大纲处理意见：</label>
                    <div class="col-sm-9">
                        <input id="testsol" data-bind="value:model.testsol" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="softwaresol" class="col-sm-3 control-label">软件处理意见：</label>
                    <div class="col-sm-9">
                        <input id="softwaresol" data-bind="value:model.softwaresol" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="pull-right">
                    <!--复制通用意见到受影响对象中-->
                    <span class="btn btn-primary" data-bind="click:copyFunction"  style="width:220px;float:left;margin: 5px;"
                          type="submit"><i class="fa fa-copy" style="margin-right:3px;"></i>复制通用意见到受影响对象中</span>
                    <!--保存-->
                    <span id="save-btn" data-bind="click:saveFunction1" class="btn btn-success"
                          style="float:left;margin: 5px;"><i class="fa fa-save" style="margin-right:5px;"></i><@spring.message "hap.save"/></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加受影响的对象-->
<div id="effectObject">
    <div class="bg-bar">
        <span class="bar-left">添加受影响对象 <span style="color: #f00;">(温馨提示:以下红色标题点击可填写)</span></span>
        <div class="bar-btn">
            <span class="fa fa-angle-double-up"></span>
        </div>
    </div>
    <div class="panel">
        <div class="clearfix" style="margin: 5px;">
            <!--新建修订版本-->
            <span style="float:left;margin-right:5px;" class="btn btn-info"
                  id="revise-btn"><i class="fa fa-plus-square"
                                                     style="margin-right:3px;"></i>新建修订版本</span>
            <!--导出受影响的对象-->
            <span style="float:left;margin-right:5px;" class="btn btn-default"
                  id="effectObject-excel-out-btn"><i class="fa fa-file-excel-o"
                                               style="margin-right:3px;"></i>导出受影响的对象</span>
            <!--导入受影响的对象-->
            <span style="float:left;margin-right:5px;" class="btn btn-default"
                  id="effectObject-excel-in-btn"><i class="fa fa-file-excel-o"
                                                     style="margin-right:3px;"></i>导入受影响的对象</span>
            <!--添加-->
            <span style="float:left;margin-right:5px;" class="btn btn-primary"
                id="effectObject-add-btn"><i class="fa fa-plus-square"
                                       style="margin-right:3px;"></i>添加</span>
            <!--保存-->
            <span style="float:left;margin-right:5px;" class="btn btn-success"
                  data-bind="click:saveFunction2">
            <i class="fa fa-save" style="margin-right:3px;"></i>保存</span>
            <!--删除-->
            <span style="float:left;margin-right:5px;" class="btn btn-danger"
                  data-bind="click:deleteFunction"><i
            class="fa fa-trash-o" style="margin-right:3px;"></i><@spring.message "hap.delete"/></span>
            <!--复制-->
            <span style="float:left;margin-right:5px;" class="btn btn-primary"
                  id="effectObject-copy-btn"><i class="fa fa-copy" style="margin-right:3px;"></i>复制</span>
            <!--粘贴-->
            <span style="float:left;margin-right:5px;" class="btn btn-primary"
                  id="effectObject-paste-btn"><i class="fa fa-clipboard" style="margin-right:3px;"></i>粘贴</span>
            <!--变更对象下层关键件信息查询-->
            <span style="float:left;margin-right:5px;" class="btn btn-warning"
                  id="show-detail-btn"><i class="fa fa-calendar-minus-o" style="margin-right:3px;"></i>变更对象下层关键件信息查询</span>
        </div>
        <div id="effectObject-Grid">

        </div>
    </div>
</div>


<!--选择产品框-->
<div id="object-dialog">
    <div class="pull-right" style="padding:10px;">
        <input placeholder="编号" type="text" class="k-textbox" style="float:left;width:150px;margin-right:5px;"
               data-bind="value:model.number"/>
        <span class="btn btn-primary" data-bind="click:queryResource"><i class="fa fa-search"></i>搜索</span>
    </div>
    <div style="clear:both;padding: 0 10px;">
        <div id="object-grid"></div>
    </div>
</div>
<!--选择用户框-->
<div id="user-dialog">
    <div class="pull-right" style="padding:10px;">
        <input placeholder="全名" type="text" class="k-textbox" style="float:left;width:150px;margin-right:5px;"
               data-bind="value:model.name"/>
        <input placeholder="用户名" type="text" class="k-textbox" style="float:left;width:150px;margin-right:5px;"
               data-bind="value:model.number"/>
        <span class="btn btn-primary" data-bind="click:queryResource"><i class="fa fa-search"></i>搜索</span>
    </div>
    <div style="clear:both;padding: 0 10px;">
        <div id="user-grid"></div>
    </div>
</div>
<!--认证关键件信息展示-->
<div id="authenpart-dialog">
    <div style="clear:both;padding: 0 10px;">
        <div id="authenpart-Grid"></div>
    </div>
</div>
<!-- 导入导出的execl Window -->
<div id="excelWindow"></div>




<script>
    //绑定viewModel
    kendo.bind($('#basic-info'), chginfo_viewModel);
    kendo.bind($('#effectObject'), effectObject_viewModel);
    kendo.bind($('#user-dialog'), user_viewModel);
    kendo.bind($('#object-dialog'), object_viewModel);
    /**
     * 模块一:基本信息
     */
    //初始化下拉框
    $("#inworksol,#stocksol").kendoComboBox({
        filter: "contains",
        valuePrimitive: true,
        dataTextField : "value",
        dataValueField : "value",
        dataSource : [
            {"value":"报废"},
            {"value":"按图改制"},
            {"value":"不处理，用完为止"},
            {"value":"按备注说明执行"}]
    });
    $("#testsol,#softwaresol").kendoComboBox({
        filter: "contains",
        valuePrimitive: true,
        dataTextField : "value",
        dataValueField : "value",
        dataSource : [
            {"value":"无需变更"},
            {"value":"重新下发"}]
    });

    //初始化选择用户window
    $("#user-dialog").kendoWindow({
        width: 700,
        height: 340,
        title: "选择负责人",
        resizable: false,
        visible: false,
        close: function (e) {
            //弹出窗 close 的时候，把它销毁，避免事件的重复绑定
            var userGrid = $("#user-grid").data("kendoGrid");
            userGrid.destroy();
        }
    }).data("kendoWindow");

    //搜索用户弹出选择用户界面
    $("#info-processor-button").click(function () {
        var userDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "${base.contextPath}/bom/wnc/user/query",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (options, type) {
                    if (type === "read") {
                        return Hap.prepareQueryParameter(user_viewModel.model.toJSON(), options);
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: 'wncUserId',
                    fields: {
                    }
                }
            }
        });
        var userGrid = $("#user-grid").kendoGrid({
            dataSource: userDataSource,
            navigatable: false,
            height: "270px",
            resizable: true,
            scrollable: true,
            selectable: 'rowbox',
            pageable: {
                pageSizes: [5, 10, 20, 50],
                refresh: true,
                buttonCount: 5
            },
            toolbar: [{
                template: '<span id="userGrid-add" class=" btn btn-success"><i class="fa fa-plus-square"></i>添加</span>'
            }],
            columns: [
                {
                    field: "oid",
                    title: '用户唯一标识',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "name",
                    title: '全名',
                    width: 180,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "number",
                    title: '用户名',
                    width: 200,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                }
            ],
            editable: false
        }).data("kendoGrid");
        $("#user-dialog").kendoWindow({
            modal: true
        });
        var win = $("#user-dialog").data("kendoWindow");
        win.modal = true;
        win.center().open();
    });

    //添加负责人
    $("#user-dialog").on("click","#userGrid-add",function (e) {
        e.preventDefault();
        var selection = $('#user-grid').data('kendoGrid').selectedDataItems();
        if(selection.length!=1){
            kendo.ui.showInfoDialog({
                message:"请选择一条数据"
            });
        }else {
            chginfo_viewModel.model.set("processor",selection[0].oid);
            $("#user-dialog").data("kendoWindow").close();
        }
    });

    //基本信息收缩展开
    $("#basic-info").on("click",".bar-btn",function (e) {
        e.preventDefault();
        var classStr = $(this).find("span").attr("class")=='fa fa-angle-double-up'?'fa fa-angle-double-down':'fa fa-angle-double-up';
        $(this).find("span").removeClass().addClass(classStr);
        $("#basic-info").find(".panel").toggle(0);
    });

    /**
     * 模块二:添加受影响对象
     */
    var BaseUrl = _basePath;
    var effectObject_dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/bom/effect/object/queryBasic?chginfoId="+chginfoId,
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/bom/effect/object/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/bom/effect/object/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/bom/effect/object/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(effectObject_viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "objectId",
                fields: {},
                editable:function (col) {
                    if(col=="number"||col=="name"||col=="type"||col=="version"||col=="state"||col=="isauthen"||col=="authenpart"){
                        return false;
                    }else {
                        return true;
                    }
                }
            }
        }
    });

    $("#effectObject-Grid").kendoGrid({
        excel:{
            allPages:true,
            fileName: "受影响的对象.xlsx"
        },
        dataSource: effectObject_dataSource,
        height: 400,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "number",
                title: '编号',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "name",
                title: '名称',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "type",
                title: '类型',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "version",
                title: '版本',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "state",
                title: '状态',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "chgdescription",
                title: '变更描述',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "inworksol",
                title: '在制品处理意见',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "stocksol",
                title: '库存处理意见',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "softwaresol",
                title: '软件处理意见',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "testsol",
                title: '试验大纲处理意见',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "isdeletema",
                title: '是否删除物料',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
            {
                field: "isauthen",
                title: '是否认证产品',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "authenpart",
                title: '认证关键件所属产品',
                width: 150,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "description",
                title: '备注信息',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center;color:#f00;"
                }
            },
        ],
        editable: true
    });

    //添加受影响对象收缩展开
    $("#effectObject").on("click",".bar-btn",function (e) {
        e.preventDefault();
        var classStr = $(this).find("span").attr("class")=='fa fa-angle-double-up'?'fa fa-angle-double-down':'fa fa-angle-double-up';
        $(this).find("span").removeClass().addClass(classStr);
        $("#effectObject").find(".panel").toggle(0);
    });

    //初始化选择对象window
    $("#object-dialog").kendoWindow({
        width: 900,
        height: 340,
        title: "选择对象",
        resizable: false,
        visible: false,
        close: function (e) {
            //弹出窗 close 的时候，把它销毁，避免事件的重复绑定
            var objectGrid = $("#object-grid").data("kendoGrid");
            objectGrid.destroy();
        }
    }).data("kendoWindow");

    //弹出选择对象界面
    $("#effectObject-add-btn").click(function () {
        var objectDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "${base.contextPath}/bom/wnc/part/query",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (options, type) {
                    if (type === "read") {
                        return Hap.prepareQueryParameter(object_viewModel.model.toJSON(), options);
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: 'wncPartId',
                    fields: {
                    }
                }
            }
        });
        var objectGrid = $("#object-grid").kendoGrid({
            dataSource: objectDataSource,
            navigatable: false,
            height: "260px",
            resizable: true,
            scrollable: true,
            selectable: 'rowbox',
            pageable: {
                pageSizes: [5, 10, 20, 50],
                refresh: true,
                buttonCount: 5
            },
            toolbar: [{
                template: '<span id="objectGrid-add" class=" btn btn-success"><i class="fa fa-plus-square"></i>添加</span>'
            }],
            columns: [
                {
                    field: "number",
                    title: '编号',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "name",
                    title: '名称',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "number",
                    title: '用户名',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "version",
                    title: '版本',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "state",
                    title: '状态',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                },
                {
                    field: "type",
                    title: '类型',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center"
                    },
                }
            ],
            editable: false
        }).data("kendoGrid");
        $("#object-dialog").kendoWindow({
            modal: true
        });
        var win = $("#object-dialog").data("kendoWindow");
        win.modal = true;
        win.center().open();
    });

    //添加对象
    $("#object-dialog").on("click","#objectGrid-add",function (e) {
        e.preventDefault();
        var selection = $('#object-grid').data('kendoGrid').selectedDataItems();
        if(selection.length!=1){
            kendo.ui.showInfoDialog({
                message:"请选择一条数据"
            });
        }else {
            //前端唯一性校验
            var oidArr = [];
            for(var i =0;i<effectObject_dataSource._data.length;i++){
                oidArr.push(effectObject_dataSource._data[i].oid);
            }
            if(oidArr.indexOf(selection[0].oid)==-1){
                //插入到受影响对象
                $.ajax({
                    url: BaseUrl + "/bom/effect/object/submit",
                    type: "POST",
                    contentType: "application/json",
                    dataType:"json",
                    data:JSON.stringify([{
                        "__status":"add",
                        chginfoId:chginfoId,
                        oid:selection[0].oid,
                        number:selection[0].number,
                        name:selection[0].name,
                        type:selection[0].type,
                        version:selection[0].version,
                        state:selection[0].state
                    }]),
                    success:function (json) {
                        kendo.ui.showInfoDialog({
                            message:"添加成功"
                        }).done(function () {
                            $("#object-dialog").data("kendoWindow").close();
                            $("#effectObject-Grid .k-i-refresh").trigger("click");
                        });
                    }
                });
            }else {
                kendo.ui.showInfoDialog({
                    message:"该对象已存在"
                });
            }
        }
    });

    //复制
    $("#effectObject-copy-btn").click(function (e) {
        e.preventDefault();
        var selection = $('#effectObject-Grid').data('kendoGrid').selectedDataItems();
        if(selection.length!=1){
            kendo.ui.showInfoDialog({
                message:"请选择一条数据"
            });
        }else {
            copyObj.isdeletema = selection[0].isdeletema;
            copyObj.inworksol = selection[0].inworksol;
            copyObj.stocksol = selection[0].stocksol;
            copyObj.testsol = selection[0].testsol;
            copyObj.softwaresol = selection[0].softwaresol;
            kendo.ui.showInfoDialog({
                message:"复制成功"
            });
        }
    });

    //粘贴
    $("#effectObject-paste-btn").click(function (e) {
        e.preventDefault();
        var grid = $("#effectObject-Grid").data("kendoGrid");
        var checked = grid.selectedDataItems();
        if(checked.length==0){
            kendo.ui.showInfoDialog({
                message: "请至少选择一行"
            })
        }else if(copyObj.isdeletema===undefined){
            kendo.ui.showInfoDialog({
                message: "请先复制"
            })
        }else {
            for (var i = 0;i<checked.length;i++){
                checked[i].isdeletema=copyObj.inworksol;
                checked[i].inworksol=copyObj.inworksol;
                checked[i].stocksol=copyObj.stocksol;
                checked[i].testsol=copyObj.testsol;
                checked[i].softwaresol=copyObj.softwaresol;
                //设置为脏数据自动更新
                checked[i].dirty=true;
            }
            kendo.ui.showInfoDialog({
                message: "粘贴成功"
            }).done(function () {
                grid.refresh();
            });
        }
    });

    //认证关键件信息展示window
    $("#authenpart-dialog").kendoWindow({
        width: 900,
        height: 340,
        title: "认证关键件信息展示",
        resizable: false,
        visible: false,
        close: function (e) {
            //弹出窗 close 的时候，把它销毁，避免事件的重复绑定
            var authenpartGrid = $("#authenpart-Grid").data("kendoGrid");
            authenpartGrid.destroy();
        }
    }).data("kendoWindow");

    //变更对象下层关键件信息查询
    $("#show-detail-btn").click(function (e) {
        e.preventDefault();
        var grid = $("#effectObject-Grid").data("kendoGrid");
        var checked = grid.selectedDataItems();
        if(checked.length!=1){
            kendo.ui.showInfoDialog({
                message: "请选择一行"
            })
        }else {
            var authenpartDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "${base.contextPath}/bom/key/part/query?oid="+checked[0].oid+"&number="
                        +checked[0].number+"&version="+checked[0].version,
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (options, type) {
                        if (type === "read") {
                            return Hap.prepareQueryParameter(authenpart_viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: 'keyPartId',
                        fields: {
                        }
                    }
                }
            });
            var authenpartGrid = $("#authenpart-Grid").kendoGrid({
                dataSource: authenpartDataSource,
                navigatable: false,
                height: "310px",
                resizable: true,
                scrollable: true,
                rownumber: true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "number",
                        title: '变更请求部件编号',
                        width: 120,
                        attributes: {style: "text-align:center"},
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "name",
                        title: '变更请求部件名称',
                        width: 120,
                        attributes: {style: "text-align:center"},
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "keyNumber",
                        title: '关键件编号',
                        width: 120,
                        attributes: {style: "text-align:center"},
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "keyname",
                        title: '关键件名称',
                        width: 120,
                        attributes: {style: "text-align:center"},
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "authenpart",
                        title: '认证关键件所属产品',
                        width: 120,
                        attributes: {style: "text-align:center"},
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center"
                        },
                    },
                ],
                editable: false
            }).data("kendoGrid");
            $("#authenpart-dialog").kendoWindow({
                modal: true
            });
            var win = $("#authenpart-dialog").data("kendoWindow");
            win.modal = true;
            win.center().open();
        }

    });

    //导出
    $("#effectObject-excel-out-btn").click(function(e) {
        e.preventDefault();
        var grid = $("#effectObject-Grid").data("kendoGrid");
        grid.saveAsExcel();
    });

    //数据导入window
    window.excelWindow = function(){
        var excelWindow = $("#excelWindow").kendoWindow({
            title: '描述维护的导入',
            content:"${base.contextPath}/bom/change/task_excel.html?chginfoId="+chginfoId,
            actions: [
                "Pin",
                "Close"
            ],
            modal:true,
            visible:false,
            iframe:true,
            close: function() {
                //window 关闭  刷新 本页面的  Grid
                $('#effectObject-Grid').data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        excelWindow.center().open();
        //最大化
        excelWindow.toggleMaximization();
    }


    //导入
    $("#effectObject-excel-in-btn").click(function(e) {
        e.preventDefault();
        excelWindow();
    });

    $("#revise-btn").click(function (e) {
        e.preventDefault();
        var selection = $('#effectObject-Grid').data('kendoGrid').selectedDataItems();
        if(selection.length==0){
            kendo.ui.showInfoDialog({
                message:"请至少选择一条数据"
            });
        }else {
            /**
             * 前端唯一性校验
             */
            var oidArr = [];
            var flag = false;//是否含有相同数据标识[false未含,true含有]
            //添加受影响对象
            for(var i =0;i<reviseObject_dataSource._data.length;i++){
                oidArr.push(reviseObject_dataSource._data[i].oid);
            }
            for (var j =0;j<selection.length;j++){
                if (oidArr.indexOf(selection[j].oid)!=-1){
                    flag = true;
                    break;
                }
            }
            if(flag){
                kendo.ui.showInfoDialog({
                    message:"数据重复"
                });
            }else {
                var dataObj_reviseObject = [];
                for (var y = 0; y < selection.length; y++) {
                    dataObj_reviseObject.push({
                        "__status": "add",
                        chginfoId: chginfoId,
                        oid: selection[y].oid,
                        number:selection[y].number,
                        name:selection[y].name,
                        type:selection[y].type
                    });
                }
                //插入到产生对象
                $.ajax({
                    url: BaseUrl + "/bom/revise/submitUpdate",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(dataObj_reviseObject),
                    success: function (json) {
                        if (json.success) {
                            kendo.ui.showInfoDialog({
                                message: json.message
                            }).done(function () {
                                $("#reviseObject-Grid .k-i-refresh").trigger("click");
                            });
                        } else {
                            kendo.ui.showInfoDialog({
                                message:  json.message
                            })
                        }
                    }
                });
            }
        }
    });

</script>
</body>
</html>