<#include "include/header.html">
    <link rel="stylesheet" href="/lib/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/lib/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />
    <script type="text/javascript" src="/lib/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxdatatable.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxtreegrid.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/lib/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/lib/demos.js"></script>
    <link rel="stylesheet" href="/lib/nprogress.css">
    <script src="/lib/nprogress.js"></script>
    <style>
        .bg-bar {
            position: relative;
            background: #f9f9f9;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #ccc;
        }

        .bar-left {
            padding-left: 10px;
        }

        .panel {
            margin-bottom: 0;
        }

        .panel > .row {
            margin: 10px auto;
        }

        .bar-btn {
            position: absolute;
            text-align: center;
            right: 10px;
            top: 5px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .bar-btn > span {
            font-size: 22px;
        }

        .col-xs-offset-1 .form-group {
            margin: 5px 0;
        }

        #treeGrid span[id] {
            display: none !important;
        }

        #page-content{
            position: relative;
            margin-top: 10px;
        }
        #toolbar-btn{
            z-index: 1000;
            width: 100%;
            top:0;
            background: #fff;
            margin-bottom: 10px;
        }


        #page-content span.btn{
            border-radius: 6px;
        }
        #left-toolbar{
           /* position: fixed;*/
            /*left:20px;*/
        }
        #treeGrid{
            margin-top: 10px;
        }

        #jqxlistbox,#jqxlistbox2{
            z-index: 1000;
            position: absolute;
            top:30px;
            left:0;
            /*background: none; 透明*/
            background: #eee;
            display: none;
        }
    </style>
    <script type="text/javascript">
        var viewModel = kendo.observable({
            model: {},
            //获取产品替换物料
            getReplacePart: function (e) {
                e.preventDefault();
                var length =$("#treeGrid").jqxTreeGrid('getCheckedRows').length;
                if (length != 1) {
                    kendo.ui.showInfoDialog({
                        message: "请选择一行"
                    });
                } else {
                    var linkida2a2 = $("#treeGrid").jqxTreeGrid('getCheckedRows')[0].linkida2a2;

                    var replacePartDataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "${base.contextPath}/bom/replace/part/query?ida2a2=" + linkida2a2,
                                type: "POST",
                                dataType: "json"
                            },
                            parameterMap: function (options, type) {
                                if (type === "read") {
                                    return Hap.prepareQueryParameter(replacePart_viewModel.model.toJSON(), options);
                                }
                            }
                        },
                        batch: true,
                        //serverPaging: true,
                        pageSize: 10,
                        schema: {
                            data: 'rows',
                            total: 'total',
                            model: {
                                id: 'partId',
                                fields: {}
                            }
                        }
                    });
                    var replacePartGrid = $("#replacePart-Grid").kendoGrid({
                        dataSource: replacePartDataSource,
                        navigatable: false,
                        height: "310px",
                        resizable: true,
                        scrollable: true,
                        rownumber: true,
                        pageable: {
                            pageSizes: [5, 10, 20, 50],
                            refresh: true,
                            buttonCount: 5
                        },
                        columns: [
                            {
                                field: "number",
                                title: '替换物料编号',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "name",
                                title: '替换物料名称',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "container",
                                title: '容器名称',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                        ],
                        editable: false
                    }).data("kendoGrid");
                    $("#replacePart-dialog").kendoWindow({
                        modal: true
                    });
                    var win = $("#replacePart-dialog").data("kendoWindow");
                    win.modal = true;
                    win.center().open();
                }
            },
            //获取产品关联文
            getReplaceDoc: function (e) {
                e.preventDefault();
                var length =$("#treeGrid").jqxTreeGrid('getCheckedRows').length;
                if (length != 1) {
                    kendo.ui.showInfoDialog({
                        message: "请选择一行"
                    });
                } else {
                    var id =  $("#treeGrid").jqxTreeGrid('getCheckedRows')[0].id;

                    var replacePartDataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "${base.contextPath}/bom/related/doc/query?ida2a2=" + id,
                                type: "POST",
                                dataType: "json"
                            },
                            parameterMap: function (options, type) {
                                if (type === "read") {
                                    return Hap.prepareQueryParameter(replaceDoc_viewModel.model.toJSON(), options);
                                }
                            }
                        },
                        batch: true,
                        //serverPaging: true,
                        pageSize: 10,
                        schema: {
                            data: 'rows',
                            total: 'total',
                            model: {
                                id: 'relatedDocId',
                                fields: {}
                            }
                        }
                    });
                    var replaceDocGrid = $("#replaceDoc-Grid").kendoGrid({
                        dataSource: replacePartDataSource,
                        navigatable: false,
                        height: "310px",
                        resizable: true,
                        scrollable: true,
                        rownumber: true,
                        pageable: {
                            pageSizes: [5, 10, 20, 50],
                            refresh: true,
                            buttonCount: 5
                        },
                        columns: [
                            {
                                field: "docnum",
                                title: '文档编号',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "docname",
                                title: '文档名称',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "modifyer",
                                title: '修改人',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "modtime",
                                title: '修改时间',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "version",
                                title: '文档版本',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "status",
                                title: '状况',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "state",
                                title: '状态',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "container",
                                title: '容器',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            },
                            {
                                field: "doctype",
                                title: '文档类型',
                                width: 120,
                                attributes: {style: "text-align:center"},
                                headerAttributes: {
                                    "class": "table-header-cell",
                                    style: "text-align: center"
                                },
                            }
                        ],
                        editable: false
                    }).data("kendoGrid");
                    $("#replaceDoc-dialog").kendoWindow({
                        modal: true
                    });
                    var win = $("#replaceDoc-dialog").data("kendoWindow");
                    win.modal = true;
                    win.center().open();
                }
            }
        });

        //获取产品替换物料viewModel
        var replacePart_viewModel = kendo.observable({
            model: {}
        });

        //获取产品关联文viewModel
        var replaceDoc_viewModel = kendo.observable({
            model: {}
        });
    </script>
    <body>
    <form id="base_info_form" class="modal-content form-horizontal" role="form">
        <div class="bg-bar">
            <span class="bar-left">基本信息</span>
            <div class="bar-btn">
                <span class="fa fa-angle-double-up"></span>
            </div>
        </div>
        <div class="col-xs-offset-1">
            <div class="form-group">
                <div class="col-xs-5" style="text-align: center">
                    <span id="title"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">名称</label>
                <div class="col-xs-3">
                    <input id="name" type="text" style='border-left:0px;border-top:0px;border-right:0px;'
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">状态</label>
                <div class="col-xs-3">
                    <input id="status" type="text" style='border-left:0px;border-top:0px;border-right:0px; '
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">状况</label>
                <div class="col-xs-3">
                    <input id="state" type="text" style='border-left:0px;border-top:0px;border-right:0px; '
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">修改者</label>
                <div class="col-xs-3">
                    <input id="modifyer" type="text" style='border-left:0px;border-top:0px;border-right:0px; '
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">位置</label>
                <div class="col-xs-3">
                    <input id="location" type="text" style='border-left:0px;border-top:0px;border-right:0px; '
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">成品</label>
                <div class="col-xs-3">
                    <input id="is" type="text" style='border-left:0px;border-top:0px;border-right:0px;' readonly="true"
                           value="是">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">默认跟踪代码</label>
                <div class="col-xs-3">
                    <input id="value1" type="text" style='border-left:0px;border-top:0px;border-right:0px;'
                           readonly="true" value="序列号">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">产品生命周期状态</label>
                <div class="col-xs-3">
                    <input id="value2" type="text" style='border-left:0px;border-top:0px;border-right:0px; '
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">是否认证产品</label>
                <div class="col-xs-3">
                    <input id="value3" type="text" style='border-left:0px;border-top:0px;border-right:0px;'
                           readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label"></label>
                <div class="col-xs-3">
                    <a href="javascript:;" onclick="showTree()">更多信息</a>
                </div>
            </div>
        </div>
    </form>
    <div id="page-content">
        <div class="pull-left" id="toolbar-btn">
        <span id="expandOne" class="btn btn-primary" style="float:left;margin-right:5px;">
            <i class="fa fa-expand" style="margin-right:3px;"></i>展开</span>
            <span id="collapseOne" class="btn btn-warning"  style="float:left;margin-right:5px;">
            <i class="fa fa-compress" style="margin-right:3px;"></i>收缩</span>
            <span id="expandAll" class="btn btn-primary"  style="float:left;margin-right:5px;">
            <i class="fa fa-expand" style="margin-right:3px;"></i>展开全部</span>
            <span id="collapseAll" class="btn btn-warning" style="float:left;margin-right:5px;">
            <i class="fa fa-compress" style="margin-right:3px;"></i>收缩全部</span>
            <span class="btn btn-info" data-bind="click:getReplacePart" style="float:left;margin-right:5px;">
            <i class="fa fa-hand-o-up" style="margin-right:3px;"></i>获取产品替换物料</span>
            <span class="btn btn-info" data-bind="click:getReplaceDoc" style="float:left;margin-right:5px;">
            <i class="fa fa-hand-o-up" style="margin-right:3px;"></i>获取产品关联文</span>
            <span id="jqxlistbox-btn" class="btn btn-success" style="float:left;margin-right:5px;position: relative;">
            <span id="jqxlistbox">
            </span>
            <i class="fa fa-check-square-o" style="margin-right:3px;"></i>显示/隐藏列
            </span>
            <span id="jqxlistbox-btn2" class="btn btn-success" style="float:left;margin-right:5px;position: relative;">
            <span id="jqxlistbox2">
            </span>
            <i class="fa fa-check-square-o" style="margin-right:3px;"></i>锁定/解锁列
            </span>
        </div>
        <div id="treeGrid"></div>
    </div>


    <!--获取产品替换物料-->
    <div id="replacePart-dialog">
        <div style="clear:both;padding: 0 10px;">
            <div id="replacePart-Grid"></div>
        </div>
    </div>

    <!--获取产品关联文-->
    <div id="replaceDoc-dialog">
        <div style="clear:both;padding: 0 10px;">
            <div id="replaceDoc-Grid"></div>
        </div>
    </div>

    <script type="text/javascript">
        var ida2a2 = '${RequestParameters.ida2a2}';
        var name = '${RequestParameters.name}';
        var state = '${RequestParameters.state}';
        var status = '${RequestParameters.status}';
        var modifyer = '${RequestParameters.modifyer}';
        var number = '${RequestParameters.number}';
        var version = '${RequestParameters.version}';
        var modtime = '${RequestParameters.modtime}';
        var view = '${RequestParameters.view}';
        $("#name").val(name);
        $("#state").val(state);
        $("#status").val(status);
        $("#modifyer").val(modifyer + "于" + modtime + " 修改");
        document.getElementById("title").innerText = "产品-" + ida2a2 + "," + version + "," + number;
        kendo.bind($('#page-content'), viewModel);
        NProgress.start();
        var dataJson = null;
        $.ajax({
            /*url:"${base.contextPath}/bom/bom/queryAll?pagesize=10000",
             url:"${base.contextPath}/bom/bom/queryAllMysql?idida2a2=2225730112&version=B.9&number=TE003-337600&name=TE003-337600&view=设计",*/
            url:"${base.contextPath}/bom/bom/queryAllMysqlSync?idida2a2=2225730112&version=B.9&number=TE003-337600&name=TE003-337600&view=设计",
            async:false,
            success:function (data) {
                dataJson = data.rows;
            }
        });
        $(document).ready(function () {
            NProgress.done();
            var source =
                {
                    dataType: "json",
                    dataFields: [
                        { name: 'id', type: 'number' },
                        { name: 'parentid', type: 'number' },
                        { name: 'state', type: 'string' },
                        { name: 'total', type: 'number' },
                        { name: 'linenum', type: 'number' },
                        { name: 'amount', type: 'number' },
                        { name: 'occurrence', type: 'string' },
                        { name: 'childnum', type: 'string' },
                        { name: 'specification', type: 'string' },
                        { name: 'linkida2a2', type: 'string' },
                        { name: 'childname', type: 'string' },
                        { name: 'partstate', type: 'string' },
                        { name: 'status', type: 'string' },
                        { name: 'version', type: 'string' },
                        { name: 'view', type: 'string' },
                        { name: 'cadtype', type: 'string' },
                        { name: 'drawingsize', type: 'string' },
                        { name: 'drawingtype', type: 'string' },
                        { name: 'hasChildren', type: 'boolean' }
                    ],
                    hierarchy:
                        {
                            keyDataField: { name: 'id' },
                            parentDataField: { name: 'parentid' }
                        },
                    id: 'id',
                    localData: dataJson
                };
            var dataAdapter = new $.jqx.dataAdapter(source);
            // create Tree Grid
            $("#treeGrid").jqxTreeGrid(
                {
                    width: 1000,
                    source: dataAdapter,
                    sortable: true,
                    theme: 'bootstrap',
                    hierarchicalCheckboxes: true,
                    altRows: true,
                    checkboxes:true,
                    columnsReorder: true,
                    enableHover: false,
                    columnsResize:true,
                    filterable: true,
                    columns: [
                        { text: '子件编号',dataField: 'childnum', minWidth: 100, width: 200 ,pinned: true},
                        { text: '子件名称', dataField: 'childname', minWidth: 100, width: 200 ,pinned: false},
                        { text: '状态', dataField: 'state', minWidth: 100, width: 120,pinned: false },
                        { text: '型号规格', dataField: 'specification', minWidth: 100, width: 120,pinned: false },
                        { text: '总数', dataField: 'total', minWidth: 100, width: 120 ,pinned: false},
                        { text: '行号', dataField: 'linenum', minWidth: 100, width: 120 ,pinned: false},
                        { text: '位号', dataField: 'occurrence', minWidth: 100, width: 120 ,pinned: false},
                        { text: '数量', dataField: 'amount', minWidth: 100, width: 120 ,pinned: false},
                        { text: '状态2', dataField: 'partstate', minWidth: 100, width: 120,pinned: false },
                        { text: '状况', dataField: 'status', minWidth: 100, width: 120 ,pinned: false},
                        { text: '版本', dataField: 'version', minWidth: 100, width: 120 ,pinned: false},
                        { text: '视图', dataField: 'view', minWidth: 100, width: 120 ,pinned: false},
                        { text: '图幅', dataField: 'drawingsize', minWidth: 100, width: 120 ,pinned: false},
                        {text: '图样类型', dataField: 'drawingtype', minWidth: 100, width: 120 ,pinned: false},
                        { text: '图纸类型', dataField: 'cadtype', minWidth: 100, width: 120 ,pinned: false}
                    ]
                });

            var listSource = [
                {label: '子件编号', value: 'childnum', checked: true },
                {label: '子件名称', value: 'childname', checked: true },
                {label: '型号规格', value: 'specification', checked: true },
                { label: '状态', value: 'state', checked: true },
                { label: '总数', value: 'total', checked: true },
                {label: '行号', value: 'linenum', checked: true },
                {label: '位号', value: 'occurrence', checked: true },
                {label: '数量', value: 'amount', checked: true },
                {label: '状态2', value: 'partstate', checked: true },
                {label: '状况', value: 'status', checked: true },
                {label: '版本', value: 'version', checked: true },
                {label: '视图', value: 'view', checked: true },
                {label: '图幅', value: 'drawingsize', checked: true},
                {label: '图纸类型', value: 'cadtype', checked: true},
            ];

            var listSource2 = [
                {label: '子件编号', value: 'childnum', checked: true },
                {label: '子件名称', value: 'childname', checked: false },
                {label: '型号规格', value: 'specification', checked: true },
                { label: '状态', value: 'state', checked: false },
                { label: '总数', value: 'total', checked: false },
                {label: '行号', value: 'linenum', checked: false },
                {label: '位号', value: 'occurrence', checked: false },
                {label: '数量', value: 'amount', checked: false },
                {label: '状态2', value: 'partstate', checked: false },
                {label: '状况', value: 'status', checked: false },
                {label: '版本', value: 'version', checked: false },
                {label: '视图', value: 'view', checked: false },
                {label: '图幅', value: 'drawingsize', checked: false},
                {label: '图纸类型', value: 'cadtype', checked: false},
            ];


            $("#jqxlistbox").jqxListBox({source: listSource, width: 120, height: 200,  checkboxes: true });
            $("#jqxlistbox").on('checkChange', function (event) {
                NProgress.start();
                $("#treeGrid").jqxTreeGrid('beginUpdate');
                if (event.args.checked) {
                    $("#treeGrid").jqxTreeGrid('showColumn', event.args.value);
                }
                else {
                    $("#treeGrid").jqxTreeGrid('hideColumn', event.args.value);
                }
                $("#treeGrid").jqxTreeGrid('endUpdate');
                NProgress.done();
            });

            $("#jqxlistbox2").jqxListBox({source: listSource2, width: 120, height: 200,  checkboxes: true });
            $("#jqxlistbox2").on('checkChange', function (event) {
                NProgress.start();
                $("#treeGrid").jqxTreeGrid('beginUpdate');
                $("#treeGrid").jqxTreeGrid('setColumnProperty', event.args.value, 'pinned', event.args.checked);
                $("#treeGrid").jqxTreeGrid('endUpdate');
                NProgress.done();
            });
            //产生对象收缩展开
            $("#base_info_form").on("click", ".bar-btn", function (e) {
                e.preventDefault();
                var classStr = $(this).find("span").attr("class") == 'fa fa-angle-double-up' ? 'fa fa-angle-double-down' : 'fa fa-angle-double-up';
                $(this).find("span").removeClass().addClass(classStr);
                $("#base_info_form").find(".col-xs-offset-1").toggle(0);
            });


            $("#collapseAll").click(function () {
                NProgress.start();
                $("#treeGrid").jqxTreeGrid('collapseAll');
                NProgress.done();
            });


            $("#expandAll").click(function () {
                NProgress.start();
                $("#treeGrid").jqxTreeGrid('expandAll');
                NProgress.done();
            });

            $("#expandOne").click(function () {
                NProgress.start();
                var selection = $("#treeGrid").jqxTreeGrid('getCheckedRows');
                for (var i = 0; i < selection.length; i++) {
                    if(selection[i].hasChildren){
                        $("#treeGrid").jqxTreeGrid('expandRow',selection[i].id);
                    }
                }
                NProgress.done();
            });

            $("#collapseOne").click(function () {
                NProgress.start();
                var selection = $("#treeGrid").jqxTreeGrid('getCheckedRows');
                for (var i = 0; i < selection.length; i++) {
                    if(selection[i].hasChildren){
                        $("#treeGrid").jqxTreeGrid('collapseRow',selection[i].id);
                    }
                }
                NProgress.done();
            });

            $('#treeGrid').on('bindingComplete', function (event) { NProgress.done(); });

            $("#jqxlistbox-btn").click(function () {
               $("#jqxlistbox").toggle();
            });

            $("#jqxlistbox-btn2").click(function () {
                $("#jqxlistbox2").toggle();
            });



        });




    </script>
    </body>
    </html>