<#include "include/header.html">
    <body>
    <div id="example">
        <!--收缩展开-->
        <div id="tool-btn">
            <div class="panel">
                <span class="btn btn-primary"><i class="fa fa-compress" style="margin-right:3px;"></i>收缩</span>
                <span class="btn btn-danger"><i class="fa fa-expand" style="margin-right:3px;"></i>展开</span>
            </div>
        </div>
        <div id="treelist"></div>
        <script>
            $(document).ready(function () {
                $(".clearSelection").click(function () {
                    $("#treelist").data("kendoTreeList").clearSelection();
                });

                var selectRow = function (e) {
                    if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                        var treelist = $("#treelist").data("kendoTreeList"),
                            rowIndex = $("#selectRow").val(),
                            row = treelist.content.find("tr:visible").eq(rowIndex);

                        treelist.select(row);
                    }
                };

                var toggleGroup = function (e) {
                    if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                        var treelist = $("#treelist").data("kendoTreeList"),
                            rowIndex = $("#groupRow").val(),
                            row = treelist.content.find("tr:visible").eq(rowIndex);

                        if (row.has(".k-i-collapse").length) {
                            treelist.collapse(row);
                        } else {
                            treelist.expand(row);
                        }
                    }
                };


                $(".selectRow").click(selectRow);
                $("#selectRow").keypress(selectRow);

                $(".toggleGroup").click(toggleGroup);
                $("#groupRow").keypress(toggleGroup);

                /* TreeList definition */

                var crudServiceBaseUrl = "//demos.telerik.com/kendo-ui/service";

                var dataSource = new kendo.data.TreeListDataSource({
                    transport: {
                        read:  {
                            url: crudServiceBaseUrl + "/EmployeeDirectory/All",
                            dataType: "jsonp"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/EmployeeDirectory/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/EmployeeDirectory/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/EmployeeDirectory/Create",
                            dataType: "jsonp"
                        },
                        parameterMap: function(options, operation) {
                            if (operation !== "read" && options.models) {
                                return {models: kendo.stringify(options.models)};
                            }
                        }
                    },
                    batch: true,
                    schema: {
                        model: {
                            id: "EmployeeId",
                            parentId: "ReportsTo",
                            fields: {
                                EmployeeId: { type: "number", editable: false, nullable: false },
                                ReportsTo: { nullable: true, type: "number" },
                                FirstName: { validation: { required: true } },
                                LastName: { validation: { required: true } },
                                HireDate: { type: "date" },
                                Phone: { type: "string" },
                                HireDate: { type: "date" },
                                BirthDate: { type: "date" },
                                Extension: { type: "number", validation: { min: 0, required: true } },
                                Position: { type: "string" }
                            }
                        }
                    }
                });

               var treelist = $("#treelist").kendoTreeList({
                    dataSource: dataSource,

                    selectable:'row',
                    columns: [{
                        template: function(dataItem){
                            return "<input type='radio'name='check' data-uid="+dataItem.uid+"   />";
                        },
                        width: 32,
                        attributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;"
                        }
                    },
                        { field: "FirstName", expandable: true, title: "First Name", width: 250 },
                        { field: "LastName", title: "Last Name" },
                        { field: "HireDate", title: "Hire Date", format: "{0:MMMM d, yyyy}" },
                        { field: "Extension", title: "Ext", format: "{0:#}" },
                        { command: [ "edit", "destroy" ] }
                    ]
                });

            }).data("kendoTreeList");


            $("#tool-btn span.btn-primary").on("click",function (e) {
                e.preventDefault();
                $("#treelist input[type=radio]:checked");
                var uid = $("#treelist input[type=radio]:checked").attr("data-uid");
                var treeList = $("#treelist").data("kendoTreeList");
                var row = treeList.content.find("tr[data-uid=" + uid+ "]");
                treeList.collapse(row);
            })

            $("#tool-btn span.btn-danger").on("click",function (e) {
                e.preventDefault();
                $("#treelist input[type=radio]:checked");
                var uid = $("#treelist input[type=radio]:checked").attr("data-uid");
                var treeList = $("#treelist").data("kendoTreeList");
                var row = treeList.content.find("tr[data-uid=" + uid+ "]");
                treeList.expand(row);
            })


        </script>
        <style>
            .configuration .k-textbox
            {
                width: 23px;
            }
        </style>
    </div>
    </body>
</html>